In [1]:
import pandas as pd

In [7]:
posts=pd.read_csv("new_df.csv")

In [2]:
activity=pd.read_csv("post_activity.csv")

In [3]:
activity.head()

,id,user_id,activity_type,content_id,created_at,updated_at
0,52,566,like,1479,2024-11-03 17:27:42,2024-11-03 17:27:42
1,92,678,view,1383,2024-11-04 09:06:57,2024-11-04 09:06:57
2,143,142,comment,1518,2024-11-04 14:54:49,2024-11-04 14:54:49
3,178,752,like,984,2024-11-04 15:38:02,2024-11-04 15:38:02
4,179,752,like,958,2024-11-04 15:38:34,2024-11-04 15:38:34

In [4]:
# fields=user_id, post_id, interaction_type
activity.rename(columns={"content_id":"post_id","activity_type":"interaction_type"},inplace=True)

In [18]:
activity.to_csv("interactions_df.csv")

In [19]:
missing_post_ids = set(activity['post_id']).difference(set(posts['post_id']))
if missing_post_ids:
    print(f"Missing post_ids in posts_df: {missing_post_ids}")

In [20]:
len(missing_post_ids)

0

In [21]:
activity = activity[activity['post_id'].isin(posts['post_id'])]

In [22]:
activity.shape

(2304, 6)

In [24]:
activity.to_csv("interactions_df2.csv")