In [3]:
import pandas as pd

In [73]:
posts_df=pd.read_csv(r"D:\app_square\recommedaiton_engine\recommdder_program\Recommender-Program\pilot_posts.csv")

In [74]:
posts_df.head()

,Post ID,Caption,Category Names,Category Descriptions,Image URL,Save Count,Comment Count,Share Count,Like Count,Views Count,Start Time,End Time,Created At,Updated At
0,766,It's a new year,NaN,NaN,https://testinglive-backend.s3.af-south-1.amaz...,0,0,0,0,4,NaN,NaN,2024-12-31T22:57:54.000000Z,2024-12-31T22:57:54.000000Z
1,765,Happy new year üéâ ‚ú®Ô∏è,NaN,NaN,https://testinglive-backend.s3.af-south-1.amaz...,0,0,0,0,2,NaN,NaN,2024-12-31T21:26:12.000000Z,2024-12-31T21:26:12.000000Z
2,764,It's a count down,NaN,NaN,https://testinglive-backend.s3.af-south-1.amaz...,0,0,0,0,2,NaN,NaN,2024-12-31T20:32:56.000000Z,2024-12-31T20:32:56.000000Z
3,763,2024 is a wrap,NaN,NaN,https://testinglive-backend.s3.af-south-1.amaz...,0,0,0,1,2,NaN,NaN,2024-12-31T20:27:58.000000Z,2024-12-31T20:27:58.000000Z
4,761,Merry Christmas üéÑüéÅü§∂‚òÉÔ∏è,Educational Resources for Kids,Family and Parenting,https://testinglive-backend.s3.af-south-1.amaz...,0,0,0,2,12,NaN,NaN,2024-12-27T08:22:54.000000Z,2024-12-30T14:50:42.000000Z

In [127]:
posts_df.duplicated().sum()

0

In [75]:
posts_df.isnull().sum()

Post ID                    0
Caption                    3
Category Names            73
Category Descriptions     73
Image URL                  9
Save Count                 0
Comment Count              0
Share Count                0
Like Count                 0
Views Count                0
Start Time               423
End Time                 423
Created At                 0
Updated At                 0
dtype: int64

In [76]:
posts_df.dropna(subset=['Category Names','Category Descriptions'],inplace=True)

In [125]:
duplicates=posts_df.duplicated().value_counts()
duplicates

False    350
Name: count, dtype: int64

In [121]:
posts_df.head(5)

,Post ID,Caption,Category Names,Category Descriptions,Image URL,Save Count,Comment Count,Share Count,Like Count,Views Count,Start Time,End Time,Created At,Updated At
4,761,Merry Christmas üéÑüéÅü§∂‚òÉÔ∏è,Educational Resources for Kids,Family and Parenting,https://testinglive-backend.s3.af-south-1.amaz...,0,0,0,2,12,NaN,NaN,2024-12-27T08:22:54.000000Z,2024-12-30T14:50:42.000000Z
6,755,DEVAFO IN THE BUILDING!,"Business Networking, Jewelry Making","Business and Entrepreneurship, Creative Arts a...",https://testinglive-backend.s3.af-south-1.amaz...,0,3,0,8,13,NaN,NaN,2024-12-19T19:11:37.000000Z,2024-12-30T14:50:12.000000Z
7,753,Who is ready for a trip to Dubai? #Dubai #Trip...,"Comedy, Anime and Manga, New Parents, Single P...","Entertainment, Entertainment, Family and Paren...",https://testinglive-backend.s3.af-south-1.amaz...,0,1,0,4,21,NaN,NaN,2024-12-18T23:38:54.000000Z,2024-12-30T15:06:38.000000Z
9,751,#seawave,"Theater and Performing Arts, Jewelry Making","Arts and Culture, Creative Arts and Crafts",https://testinglive-backend.s3.af-south-1.amaz...,0,0,0,1,8,NaN,NaN,2024-12-11T11:29:11.000000Z,2024-12-30T14:38:13.000000Z
12,747,I'll Update you when i get to UnionTown,"Theater and Performing Arts, Fan Clubs (e.g. s...","Arts and Culture, Entertainment",https://testinglive-backend.s3.af-south-1.amaz...,0,0,0,2,7,NaN,NaN,2024-12-09T14:41:12.000000Z,2024-12-30T14:38:11.000000Z

In [78]:
print(posts_df.columns)

Index(['Post ID', 'Caption', 'Category Names', 'Category Descriptions',
       'Image URL', 'Save Count', 'Comment Count', 'Share Count', 'Like Count',
       'Views Count', 'Start Time', 'End Time', 'Created At', 'Updated At'],
      dtype='object')

In [79]:
# title, description, location, tags
# title=Caption
# description= categories_names
# location=country
# tags= category_descriptions

In [80]:
new_df=posts_df[['Post ID','Caption','Category Names','Category Descriptions', 'Image URL','Created At','Updated At']]

In [81]:
new_df.head()

,Post ID,Caption,Category Names,Category Descriptions,Image URL,Created At,Updated At
4,761,Merry Christmas üéÑüéÅü§∂‚òÉÔ∏è,Educational Resources for Kids,Family and Parenting,https://testinglive-backend.s3.af-south-1.amaz...,2024-12-27T08:22:54.000000Z,2024-12-30T14:50:42.000000Z
6,755,DEVAFO IN THE BUILDING!,"Business Networking, Jewelry Making","Business and Entrepreneurship, Creative Arts a...",https://testinglive-backend.s3.af-south-1.amaz...,2024-12-19T19:11:37.000000Z,2024-12-30T14:50:12.000000Z
7,753,Who is ready for a trip to Dubai? #Dubai #Trip...,"Comedy, Anime and Manga, New Parents, Single P...","Entertainment, Entertainment, Family and Paren...",https://testinglive-backend.s3.af-south-1.amaz...,2024-12-18T23:38:54.000000Z,2024-12-30T15:06:38.000000Z
9,751,#seawave,"Theater and Performing Arts, Jewelry Making","Arts and Culture, Creative Arts and Crafts",https://testinglive-backend.s3.af-south-1.amaz...,2024-12-11T11:29:11.000000Z,2024-12-30T14:38:13.000000Z
12,747,I'll Update you when i get to UnionTown,"Theater and Performing Arts, Fan Clubs (e.g. s...","Arts and Culture, Entertainment",https://testinglive-backend.s3.af-south-1.amaz...,2024-12-09T14:41:12.000000Z,2024-12-30T14:38:11.000000Z

In [82]:
new_df.rename(columns={"Post ID":"post_id","Caption":"title","Category Names":"description","Country":"location","Category Descriptions":"tags", "Image URL":"image_url","Created At":"created_at","Updated At":"updated_at"}, inplace=True)

C:\Users\ATISHKUMAR\AppData\Local\Temp\ipykernel_5728\2282091456.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.rename(columns={"Post ID":"post_id","Caption":"title","Category Names":"description","Country":"location","Category Descriptions":"tags", "Image URL":"image_url","Created At":"created_at","Updated At":"updated_at"}, inplace=True)

In [83]:
new_df.columns

Index(['post_id', 'title', 'description', 'tags', 'image_url', 'created_at',
       'updated_at'],
      dtype='object')

In [84]:
new_df.head()

,post_id,title,description,tags,image_url,created_at,updated_at
4,761,Merry Christmas üéÑüéÅü§∂‚òÉÔ∏è,Educational Resources for Kids,Family and Parenting,https://testinglive-backend.s3.af-south-1.amaz...,2024-12-27T08:22:54.000000Z,2024-12-30T14:50:42.000000Z
6,755,DEVAFO IN THE BUILDING!,"Business Networking, Jewelry Making","Business and Entrepreneurship, Creative Arts a...",https://testinglive-backend.s3.af-south-1.amaz...,2024-12-19T19:11:37.000000Z,2024-12-30T14:50:12.000000Z
7,753,Who is ready for a trip to Dubai? #Dubai #Trip...,"Comedy, Anime and Manga, New Parents, Single P...","Entertainment, Entertainment, Family and Paren...",https://testinglive-backend.s3.af-south-1.amaz...,2024-12-18T23:38:54.000000Z,2024-12-30T15:06:38.000000Z
9,751,#seawave,"Theater and Performing Arts, Jewelry Making","Arts and Culture, Creative Arts and Crafts",https://testinglive-backend.s3.af-south-1.amaz...,2024-12-11T11:29:11.000000Z,2024-12-30T14:38:13.000000Z
12,747,I'll Update you when i get to UnionTown,"Theater and Performing Arts, Fan Clubs (e.g. s...","Arts and Culture, Entertainment",https://testinglive-backend.s3.af-south-1.amaz...,2024-12-09T14:41:12.000000Z,2024-12-30T14:38:11.000000Z

In [85]:
def remove_spaces_in_elements(s):
    # Split the string by commas
    elements = s.split(',')
    
    # Remove spaces inside each element but leave the spaces between elements intact
    cleaned_elements = [element.replace(" ", "") for element in elements]
    
    # Join the elements back into a comma-separated string with a single space between them
    return ', '.join(cleaned_elements)

In [87]:
new_df['title']=new_df['title'].apply(remove_spaces_in_elements)

C:\Users\ATISHKUMAR\AppData\Local\Temp\ipykernel_5728\513446895.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['title']=new_df['title'].apply(remove_spaces_in_elements)

In [88]:
new_df['description']=new_df['description'].apply(remove_spaces_in_elements)

C:\Users\ATISHKUMAR\AppData\Local\Temp\ipykernel_5728\2164998900.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['description']=new_df['description'].apply(remove_spaces_in_elements)

In [89]:
new_df['tags']=new_df['tags'].apply(remove_spaces_in_elements)

C:\Users\ATISHKUMAR\AppData\Local\Temp\ipykernel_5728\1756267487.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(remove_spaces_in_elements)

In [ ]:
new_df['location']=new_df['location'].fillna(' ')

In [ ]:
new_df['location']=new_df['location'].apply(remove_spaces_in_elements)

In [91]:
new_df.to_csv("pilot_data_preprocessed_new.csv")

In [92]:
def string_to_list(input_str):
    # Split the string by commas and remove any leading/trailing spaces
    return [item.strip() for item in input_str.split(',')]

In [93]:
new_df['tags']=new_df['tags'].apply(string_to_list)

C:\Users\ATISHKUMAR\AppData\Local\Temp\ipykernel_5728\675077498.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(string_to_list)

In [94]:
new_df['title'] = new_df['title'].apply(lambda x:x.split())
new_df['description']=new_df['description'].apply(string_to_list)

C:\Users\ATISHKUMAR\AppData\Local\Temp\ipykernel_5728\3727513529.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['title'] = new_df['title'].apply(lambda x:x.split())
C:\Users\ATISHKUMAR\AppData\Local\Temp\ipykernel_5728\3727513529.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['description']=new_df['description'].apply(string_to_list)

In [105]:
new_df['location']=new_df['location'].apply(lambda x: [x] if isinstance(x, str) else [])

/tmp/ipykernel_1255594/250503244.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['location']=new_df['location'].apply(lambda x: [x] if isinstance(x, str) else [])

In [95]:
new_df.head()

,post_id,title,description,tags,image_url,created_at,updated_at
4,761,[MerryChristmasüéÑüéÅü§∂‚òÉÔ∏è],[EducationalResourcesforKids],[FamilyandParenting],https://testinglive-backend.s3.af-south-1.amaz...,2024-12-27T08:22:54.000000Z,2024-12-30T14:50:42.000000Z
6,755,[DEVAFOINTHEBUILDING!],"[BusinessNetworking, JewelryMaking]","[BusinessandEntrepreneurship, CreativeArtsandC...",https://testinglive-backend.s3.af-south-1.amaz...,2024-12-19T19:11:37.000000Z,2024-12-30T14:50:12.000000Z
7,753,[WhoisreadyforatriptoDubai?#Dubai#Tripplanner],"[Comedy, AnimeandManga, NewParents, SinglePare...","[Entertainment, Entertainment, FamilyandParent...",https://testinglive-backend.s3.af-south-1.amaz...,2024-12-18T23:38:54.000000Z,2024-12-30T15:06:38.000000Z
9,751,[#seawave],"[TheaterandPerformingArts, JewelryMaking]","[ArtsandCulture, CreativeArtsandCrafts]",https://testinglive-backend.s3.af-south-1.amaz...,2024-12-11T11:29:11.000000Z,2024-12-30T14:38:13.000000Z
12,747,[I'llUpdateyouwhenigettoUnionTown],"[TheaterandPerformingArts, FanClubs(e.g.specif...","[ArtsandCulture, Entertainment]",https://testinglive-backend.s3.af-south-1.amaz...,2024-12-09T14:41:12.000000Z,2024-12-30T14:38:11.000000Z

In [96]:
def remove_spaces(L):
    L1 = []
    for i in L:
        L1.append(i.replace(" ",""))
    return L1

In [97]:
new_df['tags'] = new_df['tags'].apply(remove_spaces)
new_df['description']=new_df['description'].apply(remove_spaces)

C:\Users\ATISHKUMAR\AppData\Local\Temp\ipykernel_5728\3533779840.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(remove_spaces)
C:\Users\ATISHKUMAR\AppData\Local\Temp\ipykernel_5728\3533779840.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['description']=new_df['description'].apply(remove_spaces)

In [98]:
new_df.head()

,post_id,title,description,tags,image_url,created_at,updated_at
4,761,[MerryChristmasüéÑüéÅü§∂‚òÉÔ∏è],[EducationalResourcesforKids],[FamilyandParenting],https://testinglive-backend.s3.af-south-1.amaz...,2024-12-27T08:22:54.000000Z,2024-12-30T14:50:42.000000Z
6,755,[DEVAFOINTHEBUILDING!],"[BusinessNetworking, JewelryMaking]","[BusinessandEntrepreneurship, CreativeArtsandC...",https://testinglive-backend.s3.af-south-1.amaz...,2024-12-19T19:11:37.000000Z,2024-12-30T14:50:12.000000Z
7,753,[WhoisreadyforatriptoDubai?#Dubai#Tripplanner],"[Comedy, AnimeandManga, NewParents, SinglePare...","[Entertainment, Entertainment, FamilyandParent...",https://testinglive-backend.s3.af-south-1.amaz...,2024-12-18T23:38:54.000000Z,2024-12-30T15:06:38.000000Z
9,751,[#seawave],"[TheaterandPerformingArts, JewelryMaking]","[ArtsandCulture, CreativeArtsandCrafts]",https://testinglive-backend.s3.af-south-1.amaz...,2024-12-11T11:29:11.000000Z,2024-12-30T14:38:13.000000Z
12,747,[I'llUpdateyouwhenigettoUnionTown],"[TheaterandPerformingArts, FanClubs(e.g.specif...","[ArtsandCulture, Entertainment]",https://testinglive-backend.s3.af-south-1.amaz...,2024-12-09T14:41:12.000000Z,2024-12-30T14:38:11.000000Z

In [99]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 350 entries, 4 to 422
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   post_id      350 non-null    int64
 1   title        350 non-null    object
 2   description  350 non-null    object
 3   tags         350 non-null    object
 4   image_url    350 non-null    object
 5   created_at   350 non-null    object
 6   updated_at   350 non-null    object
dtypes: int64(1), object(6)
memory usage: 21.9+ KB

In [100]:
new_df.to_csv("pilot_data_preprocessed_new.csv")

# Combined text

In [101]:
processed_df=pd.read_csv("pilot_data_preprocessed_new.csv",index_col=False)

In [102]:
processed_df.head()

,Unnamed: 0,post_id,title,description,tags,image_url,created_at,updated_at
0,4,761,['MerryChristmasüéÑüéÅü§∂‚òÉÔ∏è'],['EducationalResourcesforKids'],['FamilyandParenting'],https://testinglive-backend.s3.af-south-1.amaz...,2024-12-27T08:22:54.000000Z,2024-12-30T14:50:42.000000Z
1,6,755,['DEVAFOINTHEBUILDING!'],"['BusinessNetworking', 'JewelryMaking']","['BusinessandEntrepreneurship', 'CreativeArtsa...",https://testinglive-backend.s3.af-south-1.amaz...,2024-12-19T19:11:37.000000Z,2024-12-30T14:50:12.000000Z
2,7,753,['WhoisreadyforatriptoDubai?#Dubai#Tripplanner'],"['Comedy', 'AnimeandManga', 'NewParents', 'Sin...","['Entertainment', 'Entertainment', 'FamilyandP...",https://testinglive-backend.s3.af-south-1.amaz...,2024-12-18T23:38:54.000000Z,2024-12-30T15:06:38.000000Z
3,9,751,['#seawave'],"['TheaterandPerformingArts', 'JewelryMaking']","['ArtsandCulture', 'CreativeArtsandCrafts']",https://testinglive-backend.s3.af-south-1.amaz...,2024-12-11T11:29:11.000000Z,2024-12-30T14:38:13.000000Z
4,12,747,"[""I'llUpdateyouwhenigettoUnionTown""]","['TheaterandPerformingArts', 'FanClubs(e.g.spe...","['ArtsandCulture', 'Entertainment']",https://testinglive-backend.s3.af-south-1.amaz...,2024-12-09T14:41:12.000000Z,2024-12-30T14:38:11.000000Z

In [44]:
import numpy as np

{"Post ID":"post_id","Caption":"title","Category Names":"description","Country":"location","Category Descriptions":"tags", "Image URL":"image_url","Created At":"created_at","Updated At":"updated_at"}, inplace=True)

In [103]:
processed_df['combined_text']=processed_df['title']+processed_df['description']+processed_df['tags']

In [104]:
processed_df.head()

,Unnamed: 0,post_id,title,description,tags,image_url,created_at,updated_at,combined_text
0,4,761,['MerryChristmasüéÑüéÅü§∂‚òÉÔ∏è'],['EducationalResourcesforKids'],['FamilyandParenting'],https://testinglive-backend.s3.af-south-1.amaz...,2024-12-27T08:22:54.000000Z,2024-12-30T14:50:42.000000Z,['MerryChristmasüéÑüéÅü§∂‚òÉÔ∏è']['EducationalResourcesf...
1,6,755,['DEVAFOINTHEBUILDING!'],"['BusinessNetworking', 'JewelryMaking']","['BusinessandEntrepreneurship', 'CreativeArtsa...",https://testinglive-backend.s3.af-south-1.amaz...,2024-12-19T19:11:37.000000Z,2024-12-30T14:50:12.000000Z,"['DEVAFOINTHEBUILDING!']['BusinessNetworking',..."
2,7,753,['WhoisreadyforatriptoDubai?#Dubai#Tripplanner'],"['Comedy', 'AnimeandManga', 'NewParents', 'Sin...","['Entertainment', 'Entertainment', 'FamilyandP...",https://testinglive-backend.s3.af-south-1.amaz...,2024-12-18T23:38:54.000000Z,2024-12-30T15:06:38.000000Z,['WhoisreadyforatriptoDubai?#Dubai#Tripplanner...
3,9,751,['#seawave'],"['TheaterandPerformingArts', 'JewelryMaking']","['ArtsandCulture', 'CreativeArtsandCrafts']",https://testinglive-backend.s3.af-south-1.amaz...,2024-12-11T11:29:11.000000Z,2024-12-30T14:38:13.000000Z,"['#seawave']['TheaterandPerformingArts', 'Jewe..."
4,12,747,"[""I'llUpdateyouwhenigettoUnionTown""]","['TheaterandPerformingArts', 'FanClubs(e.g.spe...","['ArtsandCulture', 'Entertainment']",https://testinglive-backend.s3.af-south-1.amaz...,2024-12-09T14:41:12.000000Z,2024-12-30T14:38:11.000000Z,"[""I'llUpdateyouwhenigettoUnionTown""]['Theatera..."

In [105]:
processed_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350 entries, 0 to 349
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     350 non-null    int64
 1   post_id        350 non-null    int64
 2   title          350 non-null    object
 3   description    350 non-null    object
 4   tags           350 non-null    object
 5   image_url      350 non-null    object
 6   created_at     350 non-null    object
 7   updated_at     350 non-null    object
 8   combined_text  350 non-null    object
dtypes: int64(2), object(7)
memory usage: 24.7+ KB

In [106]:
import ast
def clean_text(text):
    try:
        # Replace any invalid formatting (e.g., concatenated lists) with a space
        text = text.replace('][', ', ')  # Fix concatenated lists like "[]]["
        
        # Safely convert the string representation of a list to an actual list
        text_list = ast.literal_eval(text) if text else []

        # If there are no elements in the list, return an empty string, but don't discard other valid parts
        return ' '.join(text_list) if text_list else text
    except (SyntaxError, ValueError):
        # In case of parsing issues, return the original text (handling edge cases)
        return text

In [107]:
processed_df['combined_text']=processed_df['combined_text'].apply(clean_text)

In [108]:
processed_df.head()

,Unnamed: 0,post_id,title,description,tags,image_url,created_at,updated_at,combined_text
0,4,761,['MerryChristmasüéÑüéÅü§∂‚òÉÔ∏è'],['EducationalResourcesforKids'],['FamilyandParenting'],https://testinglive-backend.s3.af-south-1.amaz...,2024-12-27T08:22:54.000000Z,2024-12-30T14:50:42.000000Z,MerryChristmasüéÑüéÅü§∂‚òÉÔ∏è EducationalResourcesforKid...
1,6,755,['DEVAFOINTHEBUILDING!'],"['BusinessNetworking', 'JewelryMaking']","['BusinessandEntrepreneurship', 'CreativeArtsa...",https://testinglive-backend.s3.af-south-1.amaz...,2024-12-19T19:11:37.000000Z,2024-12-30T14:50:12.000000Z,DEVAFOINTHEBUILDING! BusinessNetworking Jewelr...
2,7,753,['WhoisreadyforatriptoDubai?#Dubai#Tripplanner'],"['Comedy', 'AnimeandManga', 'NewParents', 'Sin...","['Entertainment', 'Entertainment', 'FamilyandP...",https://testinglive-backend.s3.af-south-1.amaz...,2024-12-18T23:38:54.000000Z,2024-12-30T15:06:38.000000Z,WhoisreadyforatriptoDubai?#Dubai#Tripplanner C...
3,9,751,['#seawave'],"['TheaterandPerformingArts', 'JewelryMaking']","['ArtsandCulture', 'CreativeArtsandCrafts']",https://testinglive-backend.s3.af-south-1.amaz...,2024-12-11T11:29:11.000000Z,2024-12-30T14:38:13.000000Z,#seawave TheaterandPerformingArts JewelryMakin...
4,12,747,"[""I'llUpdateyouwhenigettoUnionTown""]","['TheaterandPerformingArts', 'FanClubs(e.g.spe...","['ArtsandCulture', 'Entertainment']",https://testinglive-backend.s3.af-south-1.amaz...,2024-12-09T14:41:12.000000Z,2024-12-30T14:38:11.000000Z,I'llUpdateyouwhenigettoUnionTown TheaterandPer...

In [109]:
processed_df['combined_text'][22]

'justfortesting InvestmentandVentureCapital BusinessandEntrepreneurship'

In [110]:
processed_df['combined_text'] = processed_df['combined_text'].apply(lambda x: ",".join(x))

In [111]:
processed_df.head()

,Unnamed: 0,post_id,title,description,tags,image_url,created_at,updated_at,combined_text
0,4,761,['MerryChristmasüéÑüéÅü§∂‚òÉÔ∏è'],['EducationalResourcesforKids'],['FamilyandParenting'],https://testinglive-backend.s3.af-south-1.amaz...,2024-12-27T08:22:54.000000Z,2024-12-30T14:50:42.000000Z,"M,e,r,r,y,C,h,r,i,s,t,m,a,s,üéÑ,üéÅ,ü§∂,‚òÉ,Ô∏è, ,E,d,u,..."
1,6,755,['DEVAFOINTHEBUILDING!'],"['BusinessNetworking', 'JewelryMaking']","['BusinessandEntrepreneurship', 'CreativeArtsa...",https://testinglive-backend.s3.af-south-1.amaz...,2024-12-19T19:11:37.000000Z,2024-12-30T14:50:12.000000Z,"D,E,V,A,F,O,I,N,T,H,E,B,U,I,L,D,I,N,G,!, ,B,u,..."
2,7,753,['WhoisreadyforatriptoDubai?#Dubai#Tripplanner'],"['Comedy', 'AnimeandManga', 'NewParents', 'Sin...","['Entertainment', 'Entertainment', 'FamilyandP...",https://testinglive-backend.s3.af-south-1.amaz...,2024-12-18T23:38:54.000000Z,2024-12-30T15:06:38.000000Z,"W,h,o,i,s,r,e,a,d,y,f,o,r,a,t,r,i,p,t,o,D,u,b,..."
3,9,751,['#seawave'],"['TheaterandPerformingArts', 'JewelryMaking']","['ArtsandCulture', 'CreativeArtsandCrafts']",https://testinglive-backend.s3.af-south-1.amaz...,2024-12-11T11:29:11.000000Z,2024-12-30T14:38:13.000000Z,"#,s,e,a,w,a,v,e, ,T,h,e,a,t,e,r,a,n,d,P,e,r,f,..."
4,12,747,"[""I'llUpdateyouwhenigettoUnionTown""]","['TheaterandPerformingArts', 'FanClubs(e.g.spe...","['ArtsandCulture', 'Entertainment']",https://testinglive-backend.s3.af-south-1.amaz...,2024-12-09T14:41:12.000000Z,2024-12-30T14:38:11.000000Z,"I,',l,l,U,p,d,a,t,e,y,o,u,w,h,e,n,i,g,e,t,t,o,..."

In [119]:
processed_df['combined_text'][12]

'T,h,e,b,e,s,t,t,o,d,o,i,t, ,A,u,t,o,m,o,t,i,v,e,N,e,w,s,a,n,d,R,e,v,i,e,w,s, ,B,u,s,i,n,e,s,s,N,e,t,w,o,r,k,i,n,g, ,A,u,t,o,m,o,t,i,v,e,a,n,d,V,e,h,i,c,l,e,s, ,B,u,s,i,n,e,s,s,a,n,d,E,n,t,r,e,p,r,e,n,e,u,r,s,h,i,p'

In [52]:
new_df['combined_text'][12]

KeyError: 'combined_text'

In [112]:
new_df['tags']

4                                   [FamilyandParenting]
6      [BusinessandEntrepreneurship, CreativeArtsandC...
7      [Entertainment, Entertainment, FamilyandParent...
9                [ArtsandCulture, CreativeArtsandCrafts]
12                       [ArtsandCulture, Entertainment]
                             ...
416    [Entertainment, Entertainment, FamilyandParent...
417    [FinanceandInvestment, FinanceandInvestment, F...
418    [BusinessandEntrepreneurship, FamilyandParenting]
419           [FamilyandParenting, FinanceandInvestment]
422    [AutomotiveandVehicles, Entertainment, Enterta...
Name: tags, Length: 350, dtype: object

In [14]:
import datetime

In [113]:
new_df.columns

Index(['post_id', 'title', 'description', 'tags', 'image_url', 'created_at',
       'updated_at'],
      dtype='object')

In [114]:
new_df['created_at']=pd.to_datetime(new_df['created_at'])

C:\Users\ATISHKUMAR\AppData\Local\Temp\ipykernel_5728\3337726530.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['created_at']=pd.to_datetime(new_df['created_at'])

In [115]:
new_df['updated_at']=pd.to_datetime(new_df['updated_at'])

C:\Users\ATISHKUMAR\AppData\Local\Temp\ipykernel_5728\127104515.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['updated_at']=pd.to_datetime(new_df['updated_at'])

In [116]:
new_df.head()

,post_id,title,description,tags,image_url,created_at,updated_at
4,761,[MerryChristmasüéÑüéÅü§∂‚òÉÔ∏è],[EducationalResourcesforKids],[FamilyandParenting],https://testinglive-backend.s3.af-south-1.amaz...,2024-12-27 08:22:54+00:00,2024-12-30 14:50:42+00:00
6,755,[DEVAFOINTHEBUILDING!],"[BusinessNetworking, JewelryMaking]","[BusinessandEntrepreneurship, CreativeArtsandC...",https://testinglive-backend.s3.af-south-1.amaz...,2024-12-19 19:11:37+00:00,2024-12-30 14:50:12+00:00
7,753,[WhoisreadyforatriptoDubai?#Dubai#Tripplanner],"[Comedy, AnimeandManga, NewParents, SinglePare...","[Entertainment, Entertainment, FamilyandParent...",https://testinglive-backend.s3.af-south-1.amaz...,2024-12-18 23:38:54+00:00,2024-12-30 15:06:38+00:00
9,751,[#seawave],"[TheaterandPerformingArts, JewelryMaking]","[ArtsandCulture, CreativeArtsandCrafts]",https://testinglive-backend.s3.af-south-1.amaz...,2024-12-11 11:29:11+00:00,2024-12-30 14:38:13+00:00
12,747,[I'llUpdateyouwhenigettoUnionTown],"[TheaterandPerformingArts, FanClubs(e.g.specif...","[ArtsandCulture, Entertainment]",https://testinglive-backend.s3.af-south-1.amaz...,2024-12-09 14:41:12+00:00,2024-12-30 14:38:11+00:00

In [118]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 350 entries, 4 to 422
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   post_id      350 non-null    int64
 1   title        350 non-null    object
 2   description  350 non-null    object
 3   tags         350 non-null    object
 4   image_url    350 non-null    object
 5   created_at   350 non-null    datetime64[ns, UTC]
 6   updated_at   350 non-null    datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](2), int64(1), object(4)
memory usage: 21.9+ KB

In [18]:
new_df.to_csv("new_df2.csv")

In [18]:
new_df['combined_text'] = new_df.apply(
            lambda x: f"{x['title']} {x['description']} {x['location']} {' '.join(x['tags'])}", 
            axis=1
        )
new_df.head()

/tmp/ipykernel_1246053/3986678524.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['combined_text'] = new_df.apply(

,post_id,title,description,tags,image_url,location,created_at,updated_at,combined_text
0,1625,Testing,"Scrapbooking,Candle Making,Fiction Writing,Pet...","[Creative Arts and Crafts, Creative Arts and C...",https://testinglive-backend.s3.af-south-1.amaz...,NaN,2024-12-13T11:31:01.000000Z,2024-12-13T14:34:47.000000Z,"Testing Scrapbooking,Candle Making,Fiction Wri..."
2,1619,My first Pnpm Build in VG and Ever Seems nice!...,"Candle Making,Fiction Writing,Job Hunting","[Creative Arts and Crafts, Creative Writing an...",https://testinglive-backend.s3.af-south-1.amaz...,NaN,2024-12-13T04:35:06.000000Z,2024-12-13T08:07:03.000000Z,My first Pnpm Build in VG and Ever Seems nice!...
4,1617,"Don't worry if you get lost in Venice, it's al...","Comedy,New Parents,Single Parenting","[Entertainment, Family and Parenting, Family a...",https://testinglive-backend.s3.af-south-1.amaz...,Ireland,2024-12-01T11:31:19.000000Z,2024-12-11T03:57:49.000000Z,"Don't worry if you get lost in Venice, it's al..."
5,1616,Pack a swimsuit and a raincoat for Scotland's ...,"Theater and Performing Arts,Car Enthusiasts,Th...","[Arts and Culture, Automotive and Vehicles, En...",https://testinglive-backend.s3.af-south-1.amaz...,Ireland,2024-11-30T11:31:20.000000Z,2024-11-30T12:09:59.000000Z,Pack a swimsuit and a raincoat for Scotland's ...
6,1615,Don't be alarmed when villagers in Scotland gr...,"Comedy,Fan Clubs (e.g. specific bands actors)","[Entertainment, Entertainment]",https://testinglive-backend.s3.af-south-1.amaz...,Ireland,2024-11-29T11:32:14.000000Z,2024-11-30T12:09:54.000000Z,Don't be alarmed when villagers in Scotland gr...

In [48]:
new_df['combined_text']

0      Testing Scrapbooking CandleMaking FictionWriti...
2      My first Pnpm Build in VG and Ever Seems nice!...
4      Don't worry if you get lost in Venice, it's al...
5      Pack a swimsuit and a raincoat for Scotland's ...
6      Don't be alarmed when villagers in Scotland gr...
                             ...
960    Gopaddi is coming soon...ü•∞ InvestmentandVentur...
961    Gopaddi is coming soon... InvestmentandVenture...
962    Gopaddi is coming soon... InvestmentandVenture...
963    New post InvestmentandVentureCapital JewelryMa...
964    Fighter with gear in picture CulturalFestivals...
Name: combined_text, Length: 225, dtype: object

In [24]:
new_df['tags']

0      Creative_Arts_and_Crafts,_Creative_Arts_and_Cr...
2      Creative_Arts_and_Crafts,_Creative_Writing_and...
4      Entertainment,_Family_and_Parenting,_Family_an...
5      Arts_and_Culture,_Automotive_and_Vehicles,_Ent...
6                           Entertainment,_Entertainment
                             ...
960    Business_and_Entrepreneurship,_Creative_Arts_a...
961                        Business_and_Entrepreneurship
962                        Business_and_Entrepreneurship
963    Business_and_Entrepreneurship,_Creative_Arts_a...
964      Arts_and_Culture,_Business_and_Entrepreneurship
Name: tags, Length: 225, dtype: object