In [217]:
import pandas as pd

In [218]:
posts_df=pd.read_csv("custom_posts_data.csv")

In [219]:
posts_df.head()

,Post ID,Post Type,Caption,Category Names,Category Descriptions,Image URL,Save Count,Comment Count,Share Count,Like Count,Views Count,Hashtags,Country,Start Time,End Time,Created At,Updated At
0,1625,post,Testing,"Scrapbooking, Candle Making, Fiction Writing, ...","Creative Arts and Crafts, Creative Arts and Cr...",https://testinglive-backend.s3.af-south-1.amaz...,1,2,0,1,5,NaN,NaN,NaN,NaN,2024-12-13T11:31:01.000000Z,2024-12-13T14:34:47.000000Z
1,1624,agent,Test,NaN,NaN,https://testinglive-backend.s3.af-south-1.amaz...,0,0,0,1,2,NaN,NaN,NaN,NaN,2024-12-13T09:24:38.000000Z,2024-12-13T09:24:38.000000Z
2,1619,post,My first Pnpm Build in VG and Ever Seems nice!...,"Candle Making, Fiction Writing, Job Hunting","Creative Arts and Crafts, Creative Writing and...",https://testinglive-backend.s3.af-south-1.amaz...,1,0,0,0,2,NaN,NaN,NaN,NaN,2024-12-13T04:35:06.000000Z,2024-12-13T08:07:03.000000Z
3,1618,diary,Special Treat,NaN,NaN,NaN,1,3,0,2,7,NaN,NaN,NaN,NaN,2024-12-03T10:42:56.000000Z,2024-12-03T10:42:56.000000Z
4,1617,post,"Don't worry if you get lost in Venice, it's al...","Comedy, New Parents, Single Parenting","Entertainment, Family and Parenting, Family an...",https://testinglive-backend.s3.af-south-1.amaz...,1,3,0,1,13,travel,Ireland,NaN,NaN,2024-12-01T11:31:19.000000Z,2024-12-11T03:57:49.000000Z

In [220]:
posts_df.isnull().sum()

Post ID                    0
Post Type                  0
Caption                  396
Category Names           740
Category Descriptions    740
Image URL                443
Save Count                 0
Comment Count              0
Share Count                0
Like Count                 0
Views Count                0
Hashtags                 859
Country                  961
Start Time               965
End Time                 965
Created At                 0
Updated At                 0
dtype: int64

In [221]:
posts_df.dropna(subset=['Category Names','Category Descriptions'],inplace=True)

In [222]:
posts_df.head(5)

,Post ID,Post Type,Caption,Category Names,Category Descriptions,Image URL,Save Count,Comment Count,Share Count,Like Count,Views Count,Hashtags,Country,Start Time,End Time,Created At,Updated At
0,1625,post,Testing,"Scrapbooking, Candle Making, Fiction Writing, ...","Creative Arts and Crafts, Creative Arts and Cr...",https://testinglive-backend.s3.af-south-1.amaz...,1,2,0,1,5,NaN,NaN,NaN,NaN,2024-12-13T11:31:01.000000Z,2024-12-13T14:34:47.000000Z
2,1619,post,My first Pnpm Build in VG and Ever Seems nice!...,"Candle Making, Fiction Writing, Job Hunting","Creative Arts and Crafts, Creative Writing and...",https://testinglive-backend.s3.af-south-1.amaz...,1,0,0,0,2,NaN,NaN,NaN,NaN,2024-12-13T04:35:06.000000Z,2024-12-13T08:07:03.000000Z
4,1617,post,"Don't worry if you get lost in Venice, it's al...","Comedy, New Parents, Single Parenting","Entertainment, Family and Parenting, Family an...",https://testinglive-backend.s3.af-south-1.amaz...,1,3,0,1,13,travel,Ireland,NaN,NaN,2024-12-01T11:31:19.000000Z,2024-12-11T03:57:49.000000Z
5,1616,post,Pack a swimsuit and a raincoat for Scotland's ...,"Theater and Performing Arts, Car Enthusiasts, ...","Arts and Culture, Automotive and Vehicles, Ent...",https://testinglive-backend.s3.af-south-1.amaz...,1,0,0,0,10,travel,Ireland,NaN,NaN,2024-11-30T11:31:20.000000Z,2024-11-30T12:09:59.000000Z
6,1615,post,Don't be alarmed when villagers in Scotland gr...,"Comedy, Fan Clubs (e.g. specific bands actors)","Entertainment, Entertainment",https://testinglive-backend.s3.af-south-1.amaz...,0,0,0,0,10,travel,Ireland,NaN,NaN,2024-11-29T11:32:14.000000Z,2024-11-30T12:09:54.000000Z

In [223]:
# title, description, location, tags
# title=Caption
# description= categories_names
# location=country
# tags= category_descriptions

In [224]:
new_df=posts_df[['Post ID','Caption','Category Names','Category Descriptions', 'Image URL','Country','Created At','Updated At']]

In [225]:
new_df.rename(columns={"Post ID":"post_id","Caption":"title","Category Names":"description","Country":"location","Category Descriptions":"tags", "Image URL":"image_url","Created At":"created_at","Updated At":"updated_at"}, inplace=True)

/tmp/ipykernel_1255594/2282091456.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.rename(columns={"Post ID":"post_id","Caption":"title","Category Names":"description","Country":"location","Category Descriptions":"tags", "Image URL":"image_url","Created At":"created_at","Updated At":"updated_at"}, inplace=True)

In [226]:
new_df.columns

Index(['post_id', 'title', 'description', 'tags', 'image_url', 'location',
       'created_at', 'updated_at'],
      dtype='object')

In [232]:
new_df.head()

,post_id,title,description,tags,image_url,location,created_at,updated_at
0,1625,Testing,"Scrapbooking, CandleMaking, FictionWriting, Pe...","CreativeArtsandCrafts, CreativeArtsandCrafts, ...",https://testinglive-backend.s3.af-south-1.amaz...,,2024-12-13T11:31:01.000000Z,2024-12-13T14:34:47.000000Z
2,1619,My first Pnpm Build in VG and Ever Seems nice!...,"CandleMaking, FictionWriting, JobHunting","CreativeArtsandCrafts, CreativeWritingandLiter...",https://testinglive-backend.s3.af-south-1.amaz...,,2024-12-13T04:35:06.000000Z,2024-12-13T08:07:03.000000Z
4,1617,"Don't worry if you get lost in Venice, it's al...","Comedy, NewParents, SingleParenting","Entertainment, FamilyandParenting, FamilyandPa...",https://testinglive-backend.s3.af-south-1.amaz...,Ireland,2024-12-01T11:31:19.000000Z,2024-12-11T03:57:49.000000Z
5,1616,Pack a swimsuit and a raincoat for Scotland's ...,"TheaterandPerformingArts, CarEnthusiasts, Thea...","ArtsandCulture, AutomotiveandVehicles, Enterta...",https://testinglive-backend.s3.af-south-1.amaz...,Ireland,2024-11-30T11:31:20.000000Z,2024-11-30T12:09:59.000000Z
6,1615,Don't be alarmed when villagers in Scotland gr...,"Comedy, FanClubs(e.g.specificbandsactors)","Entertainment, Entertainment",https://testinglive-backend.s3.af-south-1.amaz...,Ireland,2024-11-29T11:32:14.000000Z,2024-11-30T12:09:54.000000Z

In [228]:
def remove_spaces_in_elements(s):
    # Split the string by commas
    elements = s.split(',')
    
    # Remove spaces inside each element but leave the spaces between elements intact
    cleaned_elements = [element.replace(" ", "") for element in elements]
    
    # Join the elements back into a comma-separated string with a single space between them
    return ', '.join(cleaned_elements)

In [229]:
new_df['tags']=new_df['tags'].apply(remove_spaces_in_elements)

/tmp/ipykernel_1255594/3069166776.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(remove_spaces_in_elements)

In [230]:
new_df['description']=new_df['description'].apply(remove_spaces_in_elements)

/tmp/ipykernel_1255594/3313226721.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['description']=new_df['description'].apply(remove_spaces_in_elements)

In [231]:
new_df['location']=new_df['location'].fillna(' ')

/tmp/ipykernel_1255594/3417686979.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['location']=new_df['location'].fillna(' ')

In [210]:
new_df['location']=new_df['location'].apply(remove_spaces_in_elements)

/tmp/ipykernel_1255594/3737290259.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['location']=new_df['location'].apply(remove_spaces_in_elements)

In [233]:
new_df.to_csv("posts_data_preprocessed.csv")

In [101]:
def string_to_list(input_str):
    # Split the string by commas and remove any leading/trailing spaces
    return [item.strip() for item in input_str.split(',')]

In [102]:
new_df['tags']=new_df['tags'].apply(string_to_list)

/tmp/ipykernel_1255594/675077498.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(string_to_list)

In [103]:
new_df['title'] = new_df['title'].apply(lambda x:x.split())
new_df['description']=new_df['description'].apply(string_to_list)

/tmp/ipykernel_1255594/3727513529.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['title'] = new_df['title'].apply(lambda x:x.split())
/tmp/ipykernel_1255594/3727513529.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['description']=new_df['description'].apply(string_to_list)

In [105]:
new_df['location']=new_df['location'].apply(lambda x: [x] if isinstance(x, str) else [])

/tmp/ipykernel_1255594/250503244.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['location']=new_df['location'].apply(lambda x: [x] if isinstance(x, str) else [])

In [106]:
new_df.head()

,post_id,title,description,tags,image_url,location,created_at,updated_at
0,1625,[Testing],"[Scrapbooking, Candle Making, Fiction Writing,...","[Creative Arts and Crafts, Creative Arts and C...",https://testinglive-backend.s3.af-south-1.amaz...,[],2024-12-13T11:31:01.000000Z,2024-12-13T14:34:47.000000Z
2,1619,"[My, first, Pnpm, Build, in, VG, and, Ever, Se...","[Candle Making, Fiction Writing, Job Hunting]","[Creative Arts and Crafts, Creative Writing an...",https://testinglive-backend.s3.af-south-1.amaz...,[],2024-12-13T04:35:06.000000Z,2024-12-13T08:07:03.000000Z
4,1617,"[Don't, worry, if, you, get, lost, in, Venice,...","[Comedy, New Parents, Single Parenting]","[Entertainment, Family and Parenting, Family a...",https://testinglive-backend.s3.af-south-1.amaz...,[Ireland],2024-12-01T11:31:19.000000Z,2024-12-11T03:57:49.000000Z
5,1616,"[Pack, a, swimsuit, and, a, raincoat, for, Sco...","[Theater and Performing Arts, Car Enthusiasts,...","[Arts and Culture, Automotive and Vehicles, En...",https://testinglive-backend.s3.af-south-1.amaz...,[Ireland],2024-11-30T11:31:20.000000Z,2024-11-30T12:09:59.000000Z
6,1615,"[Don't, be, alarmed, when, villagers, in, Scot...","[Comedy, Fan Clubs (e.g. specific bands actors)]","[Entertainment, Entertainment]",https://testinglive-backend.s3.af-south-1.amaz...,[Ireland],2024-11-29T11:32:14.000000Z,2024-11-30T12:09:54.000000Z

In [107]:
def remove_spaces(L):
    L1 = []
    for i in L:
        L1.append(i.replace(" ",""))
    return L1

In [108]:
new_df['tags'] = new_df['tags'].apply(remove_spaces)
new_df['description']=new_df['description'].apply(remove_spaces)

/tmp/ipykernel_1255594/3533779840.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(remove_spaces)
/tmp/ipykernel_1255594/3533779840.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['description']=new_df['description'].apply(remove_spaces)

In [131]:
new_df.head()

,post_id,title,description,tags,image_url,location,created_at,updated_at
0,1625,[Testing],"[Scrapbooking, CandleMaking, FictionWriting, P...","[CreativeArtsandCrafts, CreativeArtsandCrafts,...",https://testinglive-backend.s3.af-south-1.amaz...,[],2024-12-13T11:31:01.000000Z,2024-12-13T14:34:47.000000Z
2,1619,"[My, first, Pnpm, Build, in, VG, and, Ever, Se...","[CandleMaking, FictionWriting, JobHunting]","[CreativeArtsandCrafts, CreativeWritingandLite...",https://testinglive-backend.s3.af-south-1.amaz...,[],2024-12-13T04:35:06.000000Z,2024-12-13T08:07:03.000000Z
4,1617,"[Don't, worry, if, you, get, lost, in, Venice,...","[Comedy, NewParents, SingleParenting]","[Entertainment, FamilyandParenting, FamilyandP...",https://testinglive-backend.s3.af-south-1.amaz...,[Ireland],2024-12-01T11:31:19.000000Z,2024-12-11T03:57:49.000000Z
5,1616,"[Pack, a, swimsuit, and, a, raincoat, for, Sco...","[TheaterandPerformingArts, CarEnthusiasts, The...","[ArtsandCulture, AutomotiveandVehicles, Entert...",https://testinglive-backend.s3.af-south-1.amaz...,[Ireland],2024-11-30T11:31:20.000000Z,2024-11-30T12:09:59.000000Z
6,1615,"[Don't, be, alarmed, when, villagers, in, Scot...","[Comedy, FanClubs(e.g.specificbandsactors)]","[Entertainment, Entertainment]",https://testinglive-backend.s3.af-south-1.amaz...,[Ireland],2024-11-29T11:32:14.000000Z,2024-11-30T12:09:54.000000Z

In [136]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 225 entries, 0 to 964
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   post_id      225 non-null    int64
 1   title        225 non-null    object
 2   description  225 non-null    object
 3   tags         225 non-null    object
 4   image_url    225 non-null    object
 5   location     225 non-null    object
 6   created_at   225 non-null    object
 7   updated_at   225 non-null    object
dtypes: int64(1), object(7)
memory usage: 15.8+ KB

In [110]:
new_df.to_csv("posts_data_preprocessed.csv")

# Combined text

In [213]:
processed_df=pd.read_csv("posts_data_preprocessed.csv",index_col=False)

In [214]:
processed_df.head()

,Unnamed: 0,post_id,title,description,tags,image_url,location,created_at,updated_at
0,0,1625,Testing,"Scrapbooking, Candle Making, Fiction Writing, ...","CreativeArtsandCrafts, CreativeArtsandCrafts, ...",https://testinglive-backend.s3.af-south-1.amaz...,NaN,2024-12-13T11:31:01.000000Z,2024-12-13T14:34:47.000000Z
1,2,1619,My first Pnpm Build in VG and Ever Seems nice!...,"Candle Making, Fiction Writing, Job Hunting","CreativeArtsandCrafts, CreativeWritingandLiter...",https://testinglive-backend.s3.af-south-1.amaz...,NaN,2024-12-13T04:35:06.000000Z,2024-12-13T08:07:03.000000Z
2,4,1617,"Don't worry if you get lost in Venice, it's al...","Comedy, New Parents, Single Parenting","Entertainment, FamilyandParenting, FamilyandPa...",https://testinglive-backend.s3.af-south-1.amaz...,Ireland,2024-12-01T11:31:19.000000Z,2024-12-11T03:57:49.000000Z
3,5,1616,Pack a swimsuit and a raincoat for Scotland's ...,"Theater and Performing Arts, Car Enthusiasts, ...","ArtsandCulture, AutomotiveandVehicles, Enterta...",https://testinglive-backend.s3.af-south-1.amaz...,Ireland,2024-11-30T11:31:20.000000Z,2024-11-30T12:09:59.000000Z
4,6,1615,Don't be alarmed when villagers in Scotland gr...,"Comedy, Fan Clubs (e.g. specific bands actors)","Entertainment, Entertainment",https://testinglive-backend.s3.af-south-1.amaz...,Ireland,2024-11-29T11:32:14.000000Z,2024-11-30T12:09:54.000000Z

In [183]:
import numpy as np

In [215]:
processed_df['combined_text']=processed_df['title'] +processed_df['location']+processed_df['description']+processed_df['tags']

In [216]:
processed_df.head()

,Unnamed: 0,post_id,title,description,tags,image_url,location,created_at,updated_at,combined_text
0,0,1625,Testing,"Scrapbooking, Candle Making, Fiction Writing, ...","CreativeArtsandCrafts, CreativeArtsandCrafts, ...",https://testinglive-backend.s3.af-south-1.amaz...,NaN,2024-12-13T11:31:01.000000Z,2024-12-13T14:34:47.000000Z,NaN
1,2,1619,My first Pnpm Build in VG and Ever Seems nice!...,"Candle Making, Fiction Writing, Job Hunting","CreativeArtsandCrafts, CreativeWritingandLiter...",https://testinglive-backend.s3.af-south-1.amaz...,NaN,2024-12-13T04:35:06.000000Z,2024-12-13T08:07:03.000000Z,NaN
2,4,1617,"Don't worry if you get lost in Venice, it's al...","Comedy, New Parents, Single Parenting","Entertainment, FamilyandParenting, FamilyandPa...",https://testinglive-backend.s3.af-south-1.amaz...,Ireland,2024-12-01T11:31:19.000000Z,2024-12-11T03:57:49.000000Z,"Don't worry if you get lost in Venice, it's al..."
3,5,1616,Pack a swimsuit and a raincoat for Scotland's ...,"Theater and Performing Arts, Car Enthusiasts, ...","ArtsandCulture, AutomotiveandVehicles, Enterta...",https://testinglive-backend.s3.af-south-1.amaz...,Ireland,2024-11-30T11:31:20.000000Z,2024-11-30T12:09:59.000000Z,Pack a swimsuit and a raincoat for Scotland's ...
4,6,1615,Don't be alarmed when villagers in Scotland gr...,"Comedy, Fan Clubs (e.g. specific bands actors)","Entertainment, Entertainment",https://testinglive-backend.s3.af-south-1.amaz...,Ireland,2024-11-29T11:32:14.000000Z,2024-11-30T12:09:54.000000Z,Don't be alarmed when villagers in Scotland gr...

In [176]:
processed_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225 entries, 0 to 224
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     225 non-null    int64
 1   post_id        225 non-null    int64
 2   title          225 non-null    object
 3   description    225 non-null    object
 4   tags           225 non-null    object
 5   image_url      225 non-null    object
 6   location       225 non-null    object
 7   created_at     225 non-null    object
 8   updated_at     225 non-null    object
 9   combined_text  225 non-null    object
dtypes: int64(2), object(8)
memory usage: 17.7+ KB

In [186]:
import ast
def clean_text(text):
    try:
        # Replace any invalid formatting (e.g., concatenated lists) with a space
        text = text.replace('][', ', ')  # Fix concatenated lists like "[]]["
        
        # Safely convert the string representation of a list to an actual list
        text_list = ast.literal_eval(text) if text else []

        # If there are no elements in the list, return an empty string, but don't discard other valid parts
        return ' '.join(text_list) if text_list else text
    except (SyntaxError, ValueError):
        # In case of parsing issues, return the original text (handling edge cases)
        return text

In [187]:
processed_df['combined_text']=processed_df['combined_text'].apply(clean_text)

In [188]:
processed_df.head()

,Unnamed: 0,post_id,title,description,tags,image_url,location,created_at,updated_at,combined_text
0,0,1625,['Testing'],"['Scrapbooking', 'CandleMaking', 'FictionWriti...","['CreativeArtsandCrafts', 'CreativeArtsandCraf...",https://testinglive-backend.s3.af-south-1.amaz...,[],2024-12-13T11:31:01.000000Z,2024-12-13T14:34:47.000000Z,"['Testing', , 'Scrapbooking', 'CandleMaking', ..."
1,2,1619,"['My', 'first', 'Pnpm', 'Build', 'in', 'VG', '...","['CandleMaking', 'FictionWriting', 'JobHunting']","['CreativeArtsandCrafts', 'CreativeWritingandL...",https://testinglive-backend.s3.af-south-1.amaz...,[],2024-12-13T04:35:06.000000Z,2024-12-13T08:07:03.000000Z,"['My', 'first', 'Pnpm', 'Build', 'in', 'VG', '..."
2,4,1617,"[""Don't"", 'worry', 'if', 'you', 'get', 'lost',...","['Comedy', 'NewParents', 'SingleParenting']","['Entertainment', 'FamilyandParenting', 'Famil...",https://testinglive-backend.s3.af-south-1.amaz...,['Ireland'],2024-12-01T11:31:19.000000Z,2024-12-11T03:57:49.000000Z,"Don't worry if you get lost in Venice, it's al..."
3,5,1616,"['Pack', 'a', 'swimsuit', 'and', 'a', 'raincoa...","['TheaterandPerformingArts', 'CarEnthusiasts',...","['ArtsandCulture', 'AutomotiveandVehicles', 'E...",https://testinglive-backend.s3.af-south-1.amaz...,['Ireland'],2024-11-30T11:31:20.000000Z,2024-11-30T12:09:59.000000Z,Pack a swimsuit and a raincoat for Scotland's ...
4,6,1615,"[""Don't"", 'be', 'alarmed', 'when', 'villagers'...","['Comedy', 'FanClubs(e.g.specificbandsactors)']","['Entertainment', 'Entertainment']",https://testinglive-backend.s3.af-south-1.amaz...,['Ireland'],2024-11-29T11:32:14.000000Z,2024-11-30T12:09:54.000000Z,Don't be alarmed when villagers in Scotland gr...

In [190]:
processed_df['combined_text'][22]

"['Warning:', 'Visiting', 'the', 'Land', 'of', 'Smiles', 'may', 'cause', 'a', 'permanent', 'grin', 'on', 'your', 'face!', '', '#TravelThailand', , 'Comedy', 'NewParents', 'SingleParenting', 'Entertainment', 'FamilyandParenting', 'FamilyandParenting']"

In [ ]:
processed_df['combined_text'] = processed_df['combined_text'].apply(lambda x: ",".join(x))

In [171]:
processed_df.head()

,Unnamed: 0,post_id,title,description,tags,image_url,location,created_at,updated_at,combined_text
0,0,1625,['Testing'],"['Scrapbooking', 'CandleMaking', 'FictionWriti...","['CreativeArtsandCrafts', 'CreativeArtsandCraf...",https://testinglive-backend.s3.af-south-1.amaz...,[],2024-12-13T11:31:01.000000Z,2024-12-13T14:34:47.000000Z,"[ ' T e s t i n g ' , , ' S c r a p b o o ..."
1,2,1619,"['My', 'first', 'Pnpm', 'Build', 'in', 'VG', '...","['CandleMaking', 'FictionWriting', 'JobHunting']","['CreativeArtsandCrafts', 'CreativeWritingandL...",https://testinglive-backend.s3.af-south-1.amaz...,[],2024-12-13T04:35:06.000000Z,2024-12-13T08:07:03.000000Z,"[ ' M y ' , ' f i r s t ' , ' P n p m ' , ..."
2,4,1617,"[""Don't"", 'worry', 'if', 'you', 'get', 'lost',...","['Comedy', 'NewParents', 'SingleParenting']","['Entertainment', 'FamilyandParenting', 'Famil...",https://testinglive-backend.s3.af-south-1.amaz...,['Ireland'],2024-12-01T11:31:19.000000Z,2024-12-11T03:57:49.000000Z,D o n ' t w o r r y i f y o u g e t ...
3,5,1616,"['Pack', 'a', 'swimsuit', 'and', 'a', 'raincoa...","['TheaterandPerformingArts', 'CarEnthusiasts',...","['ArtsandCulture', 'AutomotiveandVehicles', 'E...",https://testinglive-backend.s3.af-south-1.amaz...,['Ireland'],2024-11-30T11:31:20.000000Z,2024-11-30T12:09:59.000000Z,P a c k a s w i m s u i t a n d a r ...
4,6,1615,"[""Don't"", 'be', 'alarmed', 'when', 'villagers'...","['Comedy', 'FanClubs(e.g.specificbandsactors)']","['Entertainment', 'Entertainment']",https://testinglive-backend.s3.af-south-1.amaz...,['Ireland'],2024-11-29T11:32:14.000000Z,2024-11-30T12:09:54.000000Z,D o n ' t b e a l a r m e d w h e n v ...

In [47]:
new_df['combined_text']

0      Testing Scrapbooking CandleMaking FictionWriti...
2      My first Pnpm Build in VG and Ever Seems nice!...
4      Don't worry if you get lost in Venice, it's al...
5      Pack a swimsuit and a raincoat for Scotland's ...
6      Don't be alarmed when villagers in Scotland gr...
                             ...
960    Gopaddi is coming soon... InvestmentandVentur...
961    Gopaddi is coming soon... InvestmentandVenture...
962    Gopaddi is coming soon... InvestmentandVenture...
963    New post InvestmentandVentureCapital JewelryMa...
964    Fighter with gear in picture CulturalFestivals...
Name: combined_text, Length: 225, dtype: object

In [23]:
new_df['tags'][0]

['CreativeArtsandCrafts',
 'CreativeArtsandCrafts',
 'CreativeWritingandLiterature',
 'PetsandAnimals',
 'PetsandAnimals']

In [14]:
import datetime

In [15]:
new_df['created_at']=pd.to_datetime(new_df['created_at'])

/tmp/ipykernel_1223104/3337726530.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['created_at']=pd.to_datetime(new_df['created_at'])

In [16]:
new_df['updated_at']=pd.to_datetime(new_df['updated_at'])

/tmp/ipykernel_1223104/127104515.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['updated_at']=pd.to_datetime(new_df['updated_at'])

In [17]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 225 entries, 0 to 964
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   post_id      225 non-null    int64
 1   title        225 non-null    object
 2   description  225 non-null    object
 3   tags         225 non-null    object
 4   image_url    225 non-null    object
 5   location     3 non-null      object
 6   created_at   225 non-null    datetime64[ns, UTC]
 7   updated_at   225 non-null    datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](2), int64(1), object(5)
memory usage: 15.8+ KB

In [18]:
new_df.to_csv("new_df2.csv")

In [18]:
new_df['combined_text'] = new_df.apply(
            lambda x: f"{x['title']} {x['description']} {x['location']} {' '.join(x['tags'])}", 
            axis=1
        )
new_df.head()

/tmp/ipykernel_1246053/3986678524.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['combined_text'] = new_df.apply(

,post_id,title,description,tags,image_url,location,created_at,updated_at,combined_text
0,1625,Testing,"Scrapbooking,Candle Making,Fiction Writing,Pet...","[Creative Arts and Crafts, Creative Arts and C...",https://testinglive-backend.s3.af-south-1.amaz...,NaN,2024-12-13T11:31:01.000000Z,2024-12-13T14:34:47.000000Z,"Testing Scrapbooking,Candle Making,Fiction Wri..."
2,1619,My first Pnpm Build in VG and Ever Seems nice!...,"Candle Making,Fiction Writing,Job Hunting","[Creative Arts and Crafts, Creative Writing an...",https://testinglive-backend.s3.af-south-1.amaz...,NaN,2024-12-13T04:35:06.000000Z,2024-12-13T08:07:03.000000Z,My first Pnpm Build in VG and Ever Seems nice!...
4,1617,"Don't worry if you get lost in Venice, it's al...","Comedy,New Parents,Single Parenting","[Entertainment, Family and Parenting, Family a...",https://testinglive-backend.s3.af-south-1.amaz...,Ireland,2024-12-01T11:31:19.000000Z,2024-12-11T03:57:49.000000Z,"Don't worry if you get lost in Venice, it's al..."
5,1616,Pack a swimsuit and a raincoat for Scotland's ...,"Theater and Performing Arts,Car Enthusiasts,Th...","[Arts and Culture, Automotive and Vehicles, En...",https://testinglive-backend.s3.af-south-1.amaz...,Ireland,2024-11-30T11:31:20.000000Z,2024-11-30T12:09:59.000000Z,Pack a swimsuit and a raincoat for Scotland's ...
6,1615,Don't be alarmed when villagers in Scotland gr...,"Comedy,Fan Clubs (e.g. specific bands actors)","[Entertainment, Entertainment]",https://testinglive-backend.s3.af-south-1.amaz...,Ireland,2024-11-29T11:32:14.000000Z,2024-11-30T12:09:54.000000Z,Don't be alarmed when villagers in Scotland gr...

In [48]:
new_df['combined_text']

0      Testing Scrapbooking CandleMaking FictionWriti...
2      My first Pnpm Build in VG and Ever Seems nice!...
4      Don't worry if you get lost in Venice, it's al...
5      Pack a swimsuit and a raincoat for Scotland's ...
6      Don't be alarmed when villagers in Scotland gr...
                             ...
960    Gopaddi is coming soon... InvestmentandVentur...
961    Gopaddi is coming soon... InvestmentandVenture...
962    Gopaddi is coming soon... InvestmentandVenture...
963    New post InvestmentandVentureCapital JewelryMa...
964    Fighter with gear in picture CulturalFestivals...
Name: combined_text, Length: 225, dtype: object

In [24]:
new_df['tags']

0      Creative_Arts_and_Crafts,_Creative_Arts_and_Cr...
2      Creative_Arts_and_Crafts,_Creative_Writing_and...
4      Entertainment,_Family_and_Parenting,_Family_an...
5      Arts_and_Culture,_Automotive_and_Vehicles,_Ent...
6                           Entertainment,_Entertainment
                             ...
960    Business_and_Entrepreneurship,_Creative_Arts_a...
961                        Business_and_Entrepreneurship
962                        Business_and_Entrepreneurship
963    Business_and_Entrepreneurship,_Creative_Arts_a...
964      Arts_and_Culture,_Business_and_Entrepreneurship
Name: tags, Length: 225, dtype: object